<footer class="footer bg-dark py-3 mt-auto"> <!-- mt-auto makes sure to place footer on bottom only on screens that do not fill full screen. Use VH-100 on body.-->
    <div class="container">
        <span class='text-muted'>YelpCamp 2020&reg;</span>
    </div>
</footer>