<% layout('layouts/boilerplate') %> <!--This injects our content into our boilerpoint.ejs layout. This allows us to only have to update one file when we want to add content-->
<!-- Error page to display when an error displays. -->
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %> </h4>
            <!--This makes sure we do not display the error stack when we are outside of development.-->
            <% if(process.env.NODE_ENV !== "production") { %> 
                <p><%= err.stack %> </p>
            <% } %> 
        </div>
    </div>
</div>
