<% layout('layouts/boilerplate') %> <!--This injects our content into our boilerpoint.ejs layout. This allows us to only have to update one file when we want to add content--> 

<h1>Home YelpCamp</h1>
