<% layout('layouts/boilerplate') %> <!--This injects our content into our boilerpoint.ejs layout. This allows us to only have to update one file when we want to add content-->
<div class="row">
    <div class="col-8 offset-2 col-md-6 offset-md-3"> 
        <div class="card shadow">
            <img src="https://images.unsplash.com/photo-1493244040629-496f6d136cc4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1149&q=80" 
                    alt="" class="card-img-top">
            <div class="card-body">
                <h1 class="card-title text-center">New Campground</h1>
                <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Campground Name</label>
                        <input class="form-control" type="text" id="title" name="campground[title]" required>
                        <div class="valid-feedback">
                            Perfect!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a campground name.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" id="location" name="campground[location]" required>
                        <div class="valid-feedback">
                            Perfect!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a campground location.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Add Pictures</label>
                        <input class="form-control" type="file" id="image" name="image" multiple>
                        <div class="valid-feedback">
                            Perfect!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a valid image.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">Campground Price</label>
                        <div class="input-group">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                            <div class="valid-feedback">
                                Perfect!
                            </div>
                            <div class="invalid-feedback">
                                Please choose a valid price.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                        <div class="valid-feedback">
                            Perfect!
                        </div>
                        <div class="invalid-feedback">
                            Please choose a description.
                        </div>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success" type="submit">Add Campground</button>
                    </div>
                </form>
                <a href="/campgrounds">All Campgrounds</a>
            </div>
        </div>
    </div>
</div>


